.n-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: bisque;
}
.n-bar ul li{
 
    display: inline;
    padding: 20px;
    
}
.n-bar ul li a{
    text-align: center;
    margin: 0 auto;
}

.half-width{

    width: 40%;
    margin: 20px;

}
.first-part{
     display: flex; 
    /* height: 500px; */
    margin-top: 50px;
}

.trainpic{
    margin-right: 100px;
    text-align: right;

    background-image: url(pic/train.jpg);
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
    
   
   
}
.trainpic p{
    margin-right: 70px;
}
.form{
    margin: auto;
    width: 50%;
    
    padding: 30px;
    
    
    
}
.form label{
    margin-left: 50px;
   
}
.form input{
    margin-bottom: 50px;
}

.bttn{
    width: 100%;
    background: #006747;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    height: 40px;
    margin: 10px;
}
.a-f{
   
    width: 40%;
    margin: 0;
    padding: 0;
}
.a-s{
   
    text-align: center;
    
    margin: auto;
    padding: 0;
}
p{
    font-size: 25px;
}
.A-ticketes{
    width: 40%;
    margin: 20px;
    background: linear-gradient(to bottom , rgb(117, 117, 247),rgb(225, 247, 225)) ;

}
.b-ticketes{
    width: 40%;
    margin: 20px;
    background: linear-gradient(to bottom , rgb(247, 180, 117),rgb(236, 243, 245)) ;

}

.update{
    display: flex;
    
}


.onetheird{
   width: 30%; 
}
.SSP{
    display: flex;
    margin: 50px;

}
.select{
    padding: 10px;
}
.t-counter img{
    margin-top: 100px;
    width: 500px;
}

li{
    font-size: 25px;
    
}

.rules h1{
    font-size: 50px;
}

.helper{
    margin: auto;
    width: 50%;

}